Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*~

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/libtool
/ltmain.sh
/compile
/test-driver
/m4

/mega/mega-enum-types.c
/mega/mega-enum-types.c.stamp
/mega/mega-enum-types.h
/mega/mega-enum-types.h.stamp
/mega/mega-marshal.c
/mega/mega-marshal.h
/mega/mega-marshal.list
/mega/mega-marshal.list.stamp
/mega/Mega-1.0.gir
/mega/Mega-1.0.typelib

/tools/megadf
/tools/megadl
/tools/megaget
/tools/megals
/tools/megamkdir
/tools/megaput
/tools/megareg
/tools/megarm
/tools/megamv
/tools/megasync
/tools/megatest
/tools/megafs
/tools/megasample

/tests/test-aes
/tests/test-rsa
/tests/tools/*.dat
/tests/tools/Mount
/tests/tools/TestDir

/.vimrc
/libmega.pc
/*.tar.xz
/*.tar.gz

/docs/*.1
/docs/*.7
/docs/*.5
